*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.todo-app-wrapper{
  width: 100%;
  min-height: 100vh;
  background-color: rgb(170, 170, 233);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

@media screen and (max-width:550px){
  .todo-app-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

